@import 'tailwindcss';

/* Fonts */
@font-face {
  font-family: 'Roboto-regular';
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/roboto.woff2') format('woff2');
}

@theme {
  /* Colors */
  --color-*: initial;
  --color-coral: #e55a63;
  --color-grey-light: #f5f5f7;
  --color-grey-middle: #e2e2e4;
  --color-grey-dark: #757575;
  --color-black: #1d1d1d;
  --color-white: #ffffff;

  /* Fonts */
  --font-sans: 'Roboto-regular', sans-serif;
}
